/*=============
  Global Styles 
  =============*/
html, body{
  height: 100%; 
}
  
body {
  background: linear-gradient(180deg, #FF9A84 0%, #F2F5D0 100%);
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1.5rem; 
}

h1 {
  text-align: center;
  font-size: 2.25rem;
  margin-top: 10%; 
  margin-bottom: 5%; 
}

form{
  margin: auto 10% auto 10%;
  padding:1em;
  background-color: DarkSeaGreen;
  border: 2px solid Gray;
  border-radius: 20px;
}

div{
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-auto-rows: minmax(5px, auto);
}

fieldset{
  text-align: left;
}
